# ---------- PostgreSQL ----------
POSTGRES_DB=auditoria
POSTGRES_USER=usuario_auditoria
POSTGRES_PASSWORD=troque_esta_senha

# ---------- Backend ----------
BACKEND_PORT=4000
JWT_SECRET=troque_por_uma_string_aleatoria_longa
APP_URL=https://url

# ---------- LDAP / Active Directory ----------
LDAP_SERVER=dns ou ip do domain
LDAP_PORT=port
LDAP_USE_SSL=false
LDAP_BASE_DN=base_DN
LDAP_BIND_DN=BIND_DN
LDAP_BIND_PASSWORD=pass
LDAP_USERS_OU=OU=Usuarios,DC=domain,DC=local
LDAP_ADMIN_GROUP=grupo_de_administradores
LDAP_UPN_SUFFIX=domain.local

# ---------- SMTP (notificação de aprovação, Exchange Online) ----------
SMTP_HOST=host
SMTP_PORT=587
SMTP_USER=auditoria@host.com.br
SMTP_PASSWORD=senha_ou_app_password
SMTP_FROM="Auditoria Interna Argos <auditoria@host.com.br>"
